.flex-container {
    border: 1px solid rgb(9, 19, 29);
    height: 256px; /* each small container will be a square 16x16px across*/
    width: 256px;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: rgb(37, 76, 116);
}